
// Color system

// scss-docs-start primary-color-variables

// $primary-100: #FFF9CC !default;
// $primary-200: #FFF399 !default;
// $primary-300: #FFEC66 !default;
// $primary-400: #FFE633 !default;
// $primary-500: #FDDE00 !default;
// $primary-600: #CCB300 !default;
// $primary-700: #998600 !default;
// $primary-800: #665A00 !default;
// $primary-900: #332D00 !default;


//Paleta de ligth
$primary: #333333 !default;
$secondary: #FFFFFF !default;
$strong-details: #F8E71C !default;
$soft-details: #CCB300 !default;
$neutral-100: #CCCCCC !default;
$neutral-200: #999999 !default;
$neutral-300: #696969 !default;
$font-color: #FFFFFF !default;
$warning: #fdcb4b !default;
$succses: #7cff6b !default;


//Paleta de dark

$primary-dark: #0f0535 !default;
$secondary-dark: #FFFFFF !default;
$strong-details-dark: #dd8a0d !default;
$soft-details-dark: #8a570a !default;


//$neutral-100-dark:#CCCCCC !default;
//$neutral-200-dark: #333333 !default;
//$neutral-300-dark: #333333 !default;



//reseteo los inputs
input:focus, select:focus, select, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
   
}

button:focus, button:active,.btn-check:focus + .btn-secondary,.btn-check:active, .btn:active, .btn-secondary:focus, .btn-secondary:active, .btn:focus, .btn:active, .btn:hover, .btn {
    outline:none !important;
    outline-width: 0 !important;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

//reseteo los navbar-toggler
.navbar-toggler {
    &:focus {
      outline: none;
    }
  }
//

$btn-transition:              none !default;
$btn-hover-bg-shade-amount:       0% !default;
$btn-hover-bg-tint-amount:        0% !default;
$btn-hover-border-shade-amount:   0% !default;
$btn-hover-border-tint-amount:    0% !default;
$btn-active-bg-shade-amount:      0% !default;
$btn-active-bg-tint-amount:       0% !default;
$btn-active-border-shade-amount:  0% !default;
$btn-active-border-tint-amount:   0% !default;
  

// scss-docs-start neutral-color-variables

// $white: #FFFFFF !default;
// $white-070: #F7F7F7 !default;
// $neutral-100: #E6E6E6 !default;
// $neutral-200: #CCCCCC !default;
// $neutral-300: #B2B2B2 !default;
// $neutral-400: #999999 !default;
// $neutral-500: #808080 !default;
// $neutral-600: #666666 !default;
// $neutral-700: #4D4D4D !default;
// $neutral-800: #333333 !default;
// $neutral-900: #1A1A1A !default;



$theme-colors: (

        "primary":             $primary,
        "secondary":           $secondary,
        "strong-details":      $strong-details,
        "soft-details":        $soft-details,
        "neutral-100":         $neutral-100,
        "neutral-200":         $neutral-200,
        "neutral-300":         $neutral-300,
        "font-color":          $font-color,
        "warning":             $warning,
        "succses":             $succses,
        "primary-dark":        $primary-dark,
        "secondary-dark":      $secondary-dark,
        "strong-details-dark": $strong-details-dark,
        "soft-details-dark":   $soft-details-dark,
    // "primary-100": $primary-100,
    // "primary-200": $primary-200,
    // "primary-300": $primary-300,
    // "primary-400": $primary-400,
    // "primary-500": $primary-500,
    // "primary-600": $primary-600,
    // "primary-700": $primary-700,
    // "primary-800": $primary-800,
    // "primary-900": $primary-900,


    // "white": $white,
    // "white-070": $white-070,
    // "neutral-100": $neutral-100,
    // "neutral-200": $neutral-200,
    // "neutral-300": $neutral-300,
    // "neutral-400": $neutral-400,
    // "neutral-500": $neutral-500,
    // "neutral-600": $neutral-600,
    // "neutral-700": $neutral-700,
    // "neutral-800": $neutral-800,
    // "neutral-900": $neutral-900,
 
);

@import "~bootstrap/scss/bootstrap";
