.carousel_image{
    border-radius: 15px;
    
}
.container_data{
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: #ececec4f;
border-radius: 20px;
    width: 100%;
    padding: 1rem;

}
.carousel_tittle{

    font-family: "rubik-bold";
    color: #111111;
}

.carousel_text{
    font-family: "rubik-semibold";
    color: #111111;
    text-align: left;
}